.iner {
    max-width: 500px;
    padding: 0 15px;
    margin: 0 auto;
}

.form_style {
    position: relative;
    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 22px;
        position: relative;
    }
    .error_style {
        position: absolute;
        top: 16%;
        left: 0;
        color: brown;
        font-size: 25px;
        font-weight: bold;
    }
    .input_style {
        outline-style: inset;
        padding: 10px 10px 10px 35px;
        &::placeholder {
            color: brown;
            font-size: 24px;
            font-weight: 700;
        }
    }
    .icon_style {
        width: 35px;
        height: 35px;
        position: absolute;
        left: 101px;
        top: 1px;
    }
    button { 

        padding: 6px 6px;
        border-radius: 100%;
        &:hover {
            background-color: green;
            color: white;
            transition: 0.4s ease-in;
        }
    }
}