.iner {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
    }
}
.loader {
    display: flex;
    justify-content: center;
}